<p>
 <b><%= @user.name %></b> contacted you!
</p>
<blockquote>
  they would like to talk to you about: <br>
   <b><%= @user.body %></b>
</blockquote>
<p>
  you can reach out to them on e-mail address: <br>
   <b><%= @user.email %></b>
</p>
